<div class="admin-container">
  <div class="header">
    <h1>Inventory Control</h1>
    <button (click)="toggleForm()" class="btn-main">
      {{ showForm ? 'Close' : '+ Add Product' }}
    </button>
  </div>
  <div class="inventory-table" *ngIf="!showForm">
    <div *ngIf="products.length === 0" class="no-data">
      <p>No products found. Click "+ Add Product" to create your first one!</p>
    </div>
  
    <table *ngIf="products.length > 0">
      <tr *ngFor="let item of products">
         <td>{{ item.name }}</td>
         </tr>
    </table>
  </div>
  <div *ngIf="showForm" class="form-overlay">
    <div class="form-card">
      <h3>{{ isEditMode ? 'Update Product' : 'Add New Product' }}</h3>
      <form (ngSubmit)="onSubmit()">
        <input [(ngModel)]="product.name" name="name" placeholder="Name">
        <input type="number" [(ngModel)]="product.price" name="price" placeholder="Price">
        <input [(ngModel)]="product.category" name="category" placeholder="Category">
        <textarea [(ngModel)]="product.description" name="description" placeholder="Description"></textarea>
        <button type="submit" class="btn-save">{{ isEditMode ? 'Update' : 'Save' }}</button>
      </form>
    </div>
  </div>

  <table *ngIf="!showForm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.category }}</td>
        <td>
          <button (click)="onEdit(item)" class="edit-text">Edit</button>
          <button (click)="onDelete(item._id)" class="delete-text">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>